@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cargo-color: #5932EA;
}

/* Основной стиль для заголовка подменю */
.cargo-color-submenu > .ant-menu-submenu-title {
  background-color: var(--cargo-color) !important;
  color: white !important;
  display: flex; /* Чтобы стрелка не съезжала */
  align-items: center;
}

/* Стиль для стрелок подменю */
.cargo-color-submenu > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.cargo-color-submenu > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  background: white !important;
}


.no-scroll-modal .ant-modal {
  position: fixed;
  top: 3%;
  left: 5%;
  margin: 0;
  padding-bottom: 0;
}
